<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <title>Alfi | Slim-Skeleton</title>

    <base href="{{ base_url() }}/">

    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">

    <!-- ALFI DEFAUTLS -->

    <script src="assets/jquery.min.js"></script>

    <link rel="stylesheet" href="/assets/jquery-ui/css/jquery-ui.min.css">
    <script src="assets/jquery-ui/js/jquery-ui.min.js"></script>
  
    <script src="assets/jquery.cookie.js"></script>

    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>

    <script src="assets/bootstrap-confirmation/js/bootstrap-confirmation.min.js"></script>

    <script src="assets/pace/js/pace.min.js"></script>

    <link rel="stylesheet" href="assets/toastr/css/toastr.min.css">
    <script src="assets/toastr/js/toastr.min.js"></script>

    <link rel="stylesheet" href="assets/adminlte/css/AdminLTE.min.css">
    <link rel="stylesheet" href="assets/adminlte/css/skins/_all-skins.min.css">
    <script src="assets/adminlte/js/adminlte.min.js"></script>

    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="assets/font-goodtimes/css/font-good_times.css">

    <link rel="stylesheet" href="assets/dataTables/css/dataTables.bootstrap.min.css">
    <script src="assets/dataTables/js/jquery.dataTables.min.js"></script>
    <script src="assets/dataTables/js/dataTables.bootstrap.min.js"></script>
  

    <link rel="stylesheet" href="assets/select2/css/select2.min.css">
    <script src="assets/select2/js/select2.min.js"></script>

    <link rel="stylesheet" href="css/alfi.css">
    <script src="js/alfi.js"></script>

    <!-- ALFI APPCENTER -->

    {# <script src="https://dev.profile.niif.hu/app/app.js?app_id=XXXXXXXXXXXXX&token={{ appcenter_token }}"></script> #}

    <!-- APP SPEC -->

    <link rel="stylesheet" href="css/app.css">

    {% block page_head %} {% endblock %}

</head>
<body class="hold-transition {% if skin %} {{ skin }} {% else %}skin-alfi-kifu {% endif %}sidebar-mini {{ sidebar_collapse }}">

    <div class="wrapper">

        <header class="main-header">

            <a href="{{ path_for('home') }}" class="logo">
                <span class="logo-mini">
                    <div>A</div>
                </span>
                <span class="logo-lg">
                    <div>
                        <div>
                            <div>ALFI</div>
                            <div></div>
                        </div>
                    </div>
                </span>
            </a>

            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li>
                            <div class="appcenter-outer">
                                <div id="appcenter"></div>
                            </div>
                        </li>
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>

        </header>

        <aside class="main-sidebar">

            <section class="sidebar">
                <ul class="sidebar-menu">
                    <li class="header">Menü</li>
                    <li {% if current_path matches '/home/' %} class="active" {% endif %}><a href="{{ path_for('home.index') }}"><i class="fa fa-home"></i> <span>Home</span></a></li>
                </ul>
            </section>

        </aside>

        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    {% block page_header %} {% endblock %}
                </h1>
            </section>

            <section class="content">
                {% block page_content %} {% endblock %}
            </section>
        </div>


        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>ALFI</b>
            </div>
            <strong>Copyright &copy; 2017 <a href="http://kifu.gov.hu" >KIFÜ</a></strong>
        </footer>

        {% include "layouts/_control_sidebar.twig" %}

    </div>


    <div class="fade modal" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h4 class="modal-title pull-left"></h4>
                    <a class="close"></a>
                    <a class="fullscreen"></a>
                </div>
                <div class="modal-body">
                    <div class="content-body">
                    Betöltés...
                    </div>
                </div>
            </div>
        </div>
    </div>

{# include "_messages.twig" #}

</body>
</html>