{% extends 'app.twig' %}

{% block include_stylesheets %}{% endblock %}
{% block include_javascripts %}{% endblock %}

{% block pageheader %} 
    <nav class="breadcrumb pd-0 mg-0 tx-12">
        <a class="breadcrumb-item" href="./">Skeleton</a>
        <span class="breadcrumb-item active">Documentation</span>
    </nav>
{% endblock %}
                
{% block head %}


  <script src="assets/codemirror/js/codemirror.js"></script>
  <script src="assets/codemirror/js/mode/xml.js"></script>
  <script src="assets/codemirror/js/mode/php.js"></script>
  <link rel="stylesheet" href="assets/codemirror/css/codemirror.css">

  <style>
    .CodeMirror{
        border: 1px solid #ddd;
        height: auto;
    }
    table.attribs {
        border: 1px solid #ddd;
    }
    table.attribs tr:nth-child(odd) {
        background-color: #eee;
    }
    table.attribs tr td {
        font-weight: normal;
    }
  </style>

{% endblock %}
            
{% block body_content %}

    <div class="card">
        <div class="card-header with-border">
            <h3 class="card-title">Modal</h3>
        </div>
        <div class="card-body">
            Modal nyitása és feltöltése XMLHttpRequest tartalommal.<br>
            <br>
            Használható tag-ek: <code><b>a, button</b></code><br>
            Szükséges class: <code><b>ajax-modal</b></code><br>
            <br>

            <h4>Attribútumok</h4>
            <div class="form-group">
                <table width="100%" border="0" cellpadding="10" class="attribs">
                    <tr>
                        <td>
                            <code>href</code>
                        </td>
                        <td>
                            Kötelező. A modalba betöltött HTML vázat tartalmazó URL, ami egy GET-es ajax hívással kerül megnyitásra. A URL-ről betöltött tartalom a modal <code>div.body-content</code>-jébe kerül bele.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <code>data-modal-title</code>
                        </td>
                        <td>
                            Kötelező. Beállítja a modal ablak fejlécét.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <code>data-modal-width</code>
                        </td>
                        <td>
                            Opcionális. A modal szélessége az attribútumban megadott pixel méretre változik.
                        </td>
                    </tr>
                </table>
            </div>

            <h4>Minták</h4>

            <div class="form-group">
                <a href="{{ path_for('documentation_modal_test1') }}" data-modal-title="Test 1" class="ajax-modal btn btn-primary">Ajax modal open 1</a>
                <a href="{{ path_for('documentation_modal_test2') }}" data-modal-title="Test 2" class="ajax-modal btn btn-primary">Ajax modal open 2</a>
                <a href="{{ path_for('documentation_modal_json') }}"                              class="ajax-modal btn btn-primary">Ajax JSON modal open</a>
            </div>

            <div class="form-group">
                <textarea id="example1" readonly>
<a href="{{ path_for('documentation_modal_test1') }}" data-modal-title="Test 1" class="ajax-modal btn btn-primary">Ajax modal open 1</a>
<a href="{{ path_for('documentation_modal_test2') }}" data-modal-title="Test 2" class="ajax-modal btn btn-primary">Ajax modal open 2</a>
<a href="{{ path_for('documentation_modal_json') }}"                              class="ajax-modal btn btn-primary">Ajax JSON modal open</a></textarea>
             </div>

            <h4>Speciális esetek</h4>
            <div class="form-group">
                Ha a modal minden részére kihatással szeretnénk lenni és használni akarjuk a láblécét - mondjuk gombokat akarunk bele tenni - esetleg egyedi fejléc tartalmat akarunk,
                akkor a válaszban az alábbi skeleton megoldást használjuk.
            </div>
            <div class="form-group">
                <textarea id="example2" readonly>
<div class="modal-header">
    Fejléc
</div>
<div class="modal-body">
    Tartalmi rész
    <form method="POST" id="form1">
        <input type="text" name="input1"/>
    </form>
</div>
<div class="modal-footer">
    <input type="button" id="button1" value="Küldés" class="btn btn-primary">
    <script>
        $('#button1').submit();
    </script>
</div></textarea>
<br>

<h4>JSON forrás használata</h4>
<textarea id="example3" readonly>return $response->withJson(array(
    'modal-title'  => 'This title came from a <b>JSON response</b>',
    'modal-body'   => '<button class="btn btn-primary">HTML content\'s allowed</button>',
    'modal-footer' => '<a class="close btn btn-default">Mégse</a>',
), 200);</textarea>
             </div>

        </div>
    </div>

{% endblock %}

{% block body_tail %}
<script>

CodeMirror.fromTextArea( document.getElementById('example1' ), {
    lineNumbers: true,
    mode: "xml",
    readOnly: "nocursor",
    height: "auto"
});   
CodeMirror.fromTextArea( document.getElementById('example2'), {
    lineNumbers: true,
    mode: "xml",
    readOnly: "nocursor",
    height: "auto"
});
CodeMirror.fromTextArea( document.getElementById('example3'), {
    lineNumbers: true,
    mode: "php",
    readOnly: "nocursor",
    height: "auto"
});

function form_submit() {
    console.log('form submit function');
}

function form_ajax_success(header, data) {
    console.log("SUCCESS");
    console.log(header);
    console.log(data);
}

function form_ajax_fail(header, data) {
    console.log("FAIL");
    console.log(header);
    console.log(data);
}

$(function () {
    $('a.modal-ajax, input.modal-ajax').on('click', function() {
        $('.modal').modal('show');
        return false;
    })
})

</script>

{% endblock %}
